// html {
//     font-size: 62.5%;
// }
header{
    height: 64px;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    // font-size: $m-size;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

// .is-active {
//     font-family: Open Sans;
//     font-style: normal;
// }