.heading_container{
    text-align: center;
}
.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    // border: 1px solid silver;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
  }

  .box-img-file{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    // margin-left: 28%;
    opacity: 1;
    top: 260px;
    background-image: url(../../assests/med.png);
    width: 300px;
    height: 243px;
    overflow: hidden;
  }
  .product_detail-box{
      text-align: center;
      text-decoration: none;
  }

  .wrap    { 
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }  
  .flex-item {
    background: tomato;
    padding: 5px;
    width: 100px;
    height: 100px;
    margin: 10px;
    
    line-height: 100px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
  }